{{ define "main" }}

<section class="container">
  <h1>{{ .Title }}</h1>

  {{ .Content }} 
</section>

<section class="container">
  <h1>News</h1>
  {{ $subpage := site.GetPage "posts" }}
  {{ with $subpage.Pages }}
  <ul class="news-list">
    {{ range first 3 . }}
      <li>
        <a href="{{ .RelPermalink }}">
          <span>{{ .Date.Format "2006-01-02" }}</span>
          {{ .Title }}</a>
      </li>
    {{ end }}
  </ul>
  {{ end }}

  <a href="/posts">news archiv >>></a>
</section>

<section>
  <chaos-map></chaos-map>
</section>

{{ end }}


